@import "reset.scss";
@import "variables.scss";
@import "landing.scss";
@import "search.scss";
@import "eventTable.scss";
@import "eventDetail.scss";
@import "buttons.scss";


body {
  font-family: $main;
}

.background {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(http://i.imgur.com/b9r5sEL.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

h1 {
  color: white;
  text-align: center;
  font-size: 51px
}
